<h1>Reset Your Password</h1>
<p>Hello <%= @user.full_name %>,</p>
<p>You've requested to reset your password. Click the link below to reset it:</p>
<p><a href="<%= @reset_url %>">Reset Password</a></p>
<p>This link will expire in 2 hours.</p>
<p>If you didn't request this, please ignore this email.</p>
